/* Reset some default styling */
html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkslateblue;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    padding: 10rem;
}
main {
    font-size: 20px;
    font-family: century;
    width: 50%;
    height: 50%;
    padding: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;

}
h1 {
    margin: 0px;
    color: blue;   
}
nav {
    background-color: royalblue;
}
.navbar-li{
    color: black;
}
footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: lightsteelblue;
    justify-content: space-between;
}
a.link {
    padding: 1rem;
    justify-content: flex-start;
    font-size: 20px;
}

